<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ĐIỂM DANH</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
		td,
		th {
			border: 1px solid #dddddd;
			text-align: center;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
	</style>
    <style>
		body{
			background-color:#e7ffe6;
		}
	</style>
</head>
<body>
	<div>
		<button><a href="index.html"style="text-decoration:none;color:black">BACK</a></button>
	</div>
    <h1 align="center">History</h1><br><br>
    <table id="myTableData" align="center" style="height: 400px; width: 80%;">
        <tr>
            <td class="bg-primary">Time</td>
            <td class="bg-primary">Temp</td>
            <td class="bg-primary">Humi</td>
            <td class="bg-primary">Voltage</td>
            <td class="bg-primary">Dust</td>
        </tr>
    </table>
    <br>
    <script>
        function myFunctionData(time1, temp1, humi1, voltage1, dust1) {
            var table = document.getElementById("myTableData");
            var row = table.insertRow(1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            cell1.innerHTML = time1;
            cell2.innerHTML = temp1;
            cell3.innerHTML = humi1;
            cell4.innerHTML = voltage1;
            cell5.innerHTML = dust1;
        }
        time2 = JSON.parse('<%-time2 %>')
        temp2 = JSON.parse('<%-temp2 %>')
        humi2 = JSON.parse('<%-humi2 %>')
        voltage2 = JSON.parse('<%-voltage2 %>')
        dust2 = JSON.parse('<%-dust2 %>')
        for (let i = 0; i < time2.length; i++) {
            myFunctionData(time2[i], temp2[i], humi2[i], voltage2[i], dust2[i]);
        }
    </script>
</body>
</html>